body {
  font : 14px Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

#header, #card
{
  position : absolute;
}

#header {
  top        : 0;
  left       : 0;
  right      : 0;
  height     : 100px;
  background : #FFF;
}
#header-load-file  + label  {
  float        : right;
  margin-top   : 20px;
  margin-right : 10px;
  height       : 20px;
  width        : 100px;
  cursor       : pointer;
}
#header-load-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#card {
  top        : 100px;
  left       : 500px;
  width      : 600px;
  height     : 360px;
  background : #EEE;
}
#card_text {
  text-align      : center;
  margin-top      : 150px;
  margin-left     : 30px;
  margin-right    : 30px;
}

.next {
  float         : right;
  margin-right  : 20px;
  margin-top    : 20px;
  height        : 30px;
  width         : 35px;
}
.next#green {
   background   : #00dd00;
}
.next#yellow {
   background   : #efdf88;
}
.next#red {
   background   : #e67451;
}
